// For info about configuration please visit https://github.com/leftwm/leftwm/wiki

#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [
        ( output: "eDP-1", y: 0, x: 0, height: 1080, width: 1920 ),
        ( output: "HDMI-1-0", y: 0, x: 1920, height: 1080, width: 1920 ),
    ],
    tags: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
    ],
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        Monocle,
    ],
    layout_mode: Workspace,
    insert_behavior: Bottom,
    scratchpad: [
        (name: "Alacritty", value: "alacritty"),
        (name: "Nvim", value: "alacritty -e nvim"),
    ],
    window_rules: [
        // Use xprop to get the WM_CLASS of a opened window
        ( window_class: "paradox launcher", spawn_floating: true),
        ( window_class: "lxappearance", spawn_floating: true),
        ( window_class: "pavucontrol", spawn_floating: true),
        ( window_class: "yad-icon-browser", spawn_floating: true),
        ( window_class: "kvantummanager", spawn_floating: true),
        ( window_class: "nvidia-settings", spawn_floating: true),
        ( window_class: "garuda-assistant", spawn_floating: true),
        // Popup windows in steam
        ( window_title: "Properties - .*", spawn_floating: true),
        ( window_title: "Special Offers", spawn_floating: true),
    ],
    disable_current_tag_swap: true,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    single_window_border: false,
    sloppy_mouse_follows_focus: true,
    auto_derive_workspaces: true,
    keybind: [
        // Window commands
        (command: CloseWindow, value: "", modifier: ["modkey"], key: "q"),
        (command: ToggleFullScreen, modifier: ["modkey"], key: "f"),
        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: ToggleScratchPad, value: "Alacritty", modifier: ["modkey"], key: "p"),
        (command: ToggleScratchPad, value: "Nvim", modifier: ["modkey", "Shift"], key: "p"),
        // Window movement
        (command: MoveToLastWorkspace, value: "", modifier: ["modkey", "Shift"], key: "w"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j"),
        (command: MoveWindowTop, value: "", modifier: ["modkey", "Shift"], key: "i"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "Up"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "Down"),
        // Window focus
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "Up"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "Down"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "k"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j"),
        // Floating window commands
        (command: FloatingToTile, modifier: ["modkey", "Shift"], key: "t"),
        (command: TileToFloating, modifier: ["modkey", "Shift"], key: "f"),
        (command: ToggleFloating, modifier: ["modkey", "Control"], key: "f"),
        // Change layout
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "Up"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "Down"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "k"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "j"),
        // Change workspace focus
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "Right"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "Left"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "l"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "h"),
        // Move window to new workspace
        (command: MoveWindowToNextWorkspace, modifier: ["modkey", "Control"], key: "Right"),
        (command: MoveWindowToPreviousWorkspace, modifier: ["modkey", "Control"], key: "Left"),
        // Go to tag
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
        // Move window to new tag
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
        // Adjust window width
        (command: IncreaseMainWidth, value: "20", modifier: ["modkey", "Shift"], key: "equal"),
        (command: DecreaseMainWidth, value: "20", modifier: ["modkey", "Shift"], key: "minus"),
        (command: IncreaseMainWidth, value: "5", modifier: ["modkey"], key: "equal"),
        (command: DecreaseMainWidth, value: "5", modifier: ["modkey"], key: "minus"),
        // Program starting commands
        (command: Execute, value: "rofi -show drun -icon-theme 'Papirus' -show-icons", modifier: ["modkey"], key: "space"),
        (command: Execute, value: "alacritty", modifier: ["modkey"], key: "Return"),
        // Brightness
        (command: Execute, value: "brightnessctl s +5%", modifier: [], key: "XF86XK_MonBrightnessUp"),
        (command: Execute, value: "brightnessctl s 5%- ", modifier: [], key: "XF86XK_MonBrightnessDown"),
        // Laptop keyboard backlight
        (command: Execute, value: "brightnessctl --device='asus::kbd_backlight' set 0", modifier: ["modkey"], key: "F1"),
        (command: Execute, value: "brightnessctl --device='asus::kbd_backlight' set 1", modifier: ["modkey"], key: "F2"),
        (command: Execute, value: "brightnessctl --device='asus::kbd_backlight' set 2", modifier: ["modkey"], key: "F3"),
        (command: Execute, value: "brightnessctl --device='asus::kbd_backlight' set 3", modifier: ["modkey"], key: "F4"),
        // Volume
        (command: Execute, value: "amixer -q set Master toggle", modifier: [], key: "XF86XK_AudioMute"),
        (command: Execute, value: "amixer -q set Master 5%-", modifier: [], key: "XF86XK_AudioLowerVolume"),
        (command: Execute, value: "amixer -q set Master 5%+", modifier: [], key: "XF86XK_AudioRaiseVolume"),
        (command: Execute, value: "playerctl play-pause", modifier: [], key: "XF86XK_AudioPlay"),
        (command: Execute, value: "playerctl next", modifier: [], key: "XF86XK_AudioNext"),
        (command: Execute, value: "playerctl previous", modifier: [], key: "XF86XK_AudioPrev"),
        (command: Execute, value: "playerctl stop", modifier: [], key: "XF86XK_AudioStop"),
        // Screenshots
        (command: Execute, value: "scrot -b '%Y:%m:%d:%H:%M:%S.png' -e 'mv $f ~/Pictures/'", modifier: ["modkey"], key: "s"),
        (command: Execute, value: "scrot --select -b '%Y:%m:%d:%H:%M:%S.png' -e 'mv $f ~/Pictures/'", modifier: ["modkey", "Shift"], key: "s"),
        // Monitor setup toggle
        /*
            This uses xrandr to check if there is a monitor named "HDMI-1-0"
            if there is it sets the HDMI monitor to the left side and then reloads leftwm
            if there is not a monitor named "HDMI-1-0" that is connected it will turn off "HDMI-1-0", return to single monitor setup and then reload leftwm
        */
        (
            command: Execute,
            value: "bash -c 'if xrandr | grep \"HDMI-1-0 connected\"; then xrandr --output eDP-1 --auto --output HDMI-1-0 --auto --left-of eDP-1; leftwm-command SoftReload; else xrandr --output HDMI-1-0 --off --output eDP-1 --auto; leftwm-command SoftReload; fi'",
            modifier: ["modkey", "Shift"],
            key: "F11"
        ),
    ],
    state_path: None,
)